@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    padding: 2em;
    background-color: #554994;
    background-image: url(../img/background.png);
    color: #fff;
    text-shadow: 1px 2px 4px #000;
    font-family: 'Poppins', sans-serif;
}

.answer {
    font-weight: bold;
    font-size: 20px;
    padding: 1rem;
}

.answer-thinking {
    color: #ffe2a4;
}

.answer-finally {
    color: #b6ffc0;
}

#question-area {
    padding: 0 3em;
}

.question-input {
    font-weight: bold;
}

.send-button {
    background: #F675A8;
    font-weight: bold;
}

.send-button:hover {
    background: #f12c7b;
}